body{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainPageContent{
    width: 600px;
    text-align: center;
}
.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 3px;
    padding: 40px 20px 40px 20px;
    margin: 20px 0px 20px 0px;
    background-color: ghostwhite;
}
.mainContentAlert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 3px;
    padding: 40px 20px 40px 20px;
    background-color: #ffd7d7;
}
#mainPage{
    height: 100vh;
}
#userPanel{
    height: 100vh;
}
#mainUserPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 3px;
    padding: 40px 20px 40px 20px;
    background-color: ghostwhite;
}
#wellcomeMessage{
    margin-bottom:50px;
}
.signForm{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.logoutForm{
    /* position: absolute; */
    /* right: 20px; */
    /* top: 20px; */
    margin-top: 50px;
}
.logoutForm>input[type="submit"]{
    padding: 10px;
    background-color: rgb(255, 191, 191);
    border: 1px solid rgb(112, 112, 112);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.logoutForm>input[type="submit"]:hover{
    background-color: lightcoral;
    transition: 0.5s;
}
/* .userPanel{
    width: 80%;
} */
label{
    /* width: 100%; */
    margin: 10px 0px 10px 0px;
    text-align: center;
}
input[type="text"],input[type="password"]{
    width: 100%;
    text-align: center;
    height: 22px;
    margin-bottom: 20px;
}
input{
    font-family: 'Montserrat', sans-serif;
}
.alert{
    width: 60%;
    background-color: rgb(253, 169, 169);
    font-size: larger;
    text-align: center;
}
.confirmation{
    width: 60%;
    background-color: rgb(207, 253, 169);
    font-size: larger;
    text-align: center;
}
#togglePassword{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}
.boton{
    margin:20px;
    width: 150px;
    align-self: center;
    padding:5px 10px 5px 10px;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 5px;
    background-color: snow;
    color: green;
    text-align: center;
    text-decoration: none;
}
.botonDelete{
    margin:20px;
    width: 150px;
    align-self: center;
    padding:5px 10px 5px 10px;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 5px;
    background-color: rgb(160, 4, 4);
    color:white;
    text-align: center;
    text-decoration: none;
}
.botonLogout{
    margin:60px 20px 20px 20px;
    width: 150px;
    align-self: center;
    padding:5px 10px 5px 10px;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 5px;
    background-color: snow;
    color: green;
    text-align: center;
    text-decoration: none;
}